.media-icons {
	padding: 8px;
}

.media-icons .fa {
	font-size: 20px
}

.bg-dark {
	background-color: #000!important;
}

#theme-div {
	background: url(../images/main-building.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: calc(100vh);
}